:root {
  --aside: #060122;
  --aside-darker: #040016;
  --table-header: #5380ea;
  --table-row: #f0faff;
  --table-footer: #5380ea;
  --bottom-line-darker: #cdcdcd;
  --bottom-line: #e6e6e6;
  --border-input: #cdcdcd;
  --input-focus: #676767;
  --del: rgb(244, 20, 64);
  --edit: #fcbc0e;
}
