.PhotoView-Slider__BannerWrap {
  height: 13vh;
}

.PhotoView-Slider__BannerWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.PhotoView-Slider__Counter {
  opacity: 0;
  user-select: none;
}

.PhotoView-Slider__toolbarIcon {
  color: white;
  font-size: 47px;

  &:last-child {
    height: 55px;
    width: 55px;
  }
}
